* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    align-items: center;
    z-index: 1;
    padding: 10px 32px;
    border: none;
}

.navbar .brand {
    font-size: 30px;
}

.navbar .list {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 16px;
    gap: 51px;
    margin-left: 10%;
}

.navbar .list .item-list .active-job{
    color: #282828;
    font-weight: bold;
}

.navbar .list .item-list a {
    text-decoration: none;
    color: #938C8C;
}

.navbar .list .item-list a:hover {
    color: #282828;
    font-weight: bold;
}

.navbar .list .item-list i {
    margin-left: 5px;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 23px;
}

.navbar .items {
    display: flex;
    align-items: center;
    gap: 47px;
}

.navbar .items a {
    text-decoration: none;
    color: #938C8C;
}

.navbar .items .left-items {
    display: flex;
    gap: 32px;
    align-items: center;
}

.navbar .items .left-items .login {
    font-size: 16px;
    font-weight: bold;
}

.navbar .items .left-items a {
    color: #282828;
}

.navbar .items .lang {
    display: flex;
    gap: 2px;
    font-size: 12px;
    margin-top: auto;
    color: #C5BCB3;
}

.navbar .items .lang p,
.navbar .items .lang a:nth-child(3),
.navbar .items .lang a:active {
    color: #FF8500;
}

/* Section */

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../images/mybackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .content .job-list {
    background-color: #282828;
    border-radius: 8px;
    margin: auto;
    margin-top:55px;
    position: fixed;
    z-index: 1;
    
}

.hero .content .job-list ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 12px 64px;
    gap: 64px;
}

.hero .content .job-list ul a {
    text-decoration: none;
    color: #938C8C;
}
.hero .content .job-list .selected-search {
    color: #FF8500;
    border-bottom: 2px solid #FF8500;
}

.hero .content .job-list ul a:hover {
    color: #FF8500;
    font-weight: 700;
}

.hero .content h1 {
    margin-top: 128px;
}


.hero .content .comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.hero .content .comp .comp-slide {
    display: flex;
    flex-direction: row;
    gap: 86px;
}

.hero .content .comp a {
    color: gray;
    font-size: 50px;
    text-decoration: none;
}

.hero .content .comp div {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}


/* Footer */

footer {
    width: 100%;
    background-color: #282828;
    color: white;
    padding: 32px 200px;
}

footer .my-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 42px;
}

footer .my-footer .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer .footer-top .footer-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

}

footer .footer-top .footer-links h1 {
    font-weight: 700;
    font-size: 24px;
}

footer .footer-top .footer-links a {
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
}


footer .my-footer .footer-end {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;

}

footer .my-footer .footer-end span {
    width: 64%;
    color: white;
    border: none;
    border-bottom: 1px solid white;
}